---
---

@import "{{ site.theme }}";

/**
  * Adjustments to the Slate layout
  */
h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: 0px;
  }

h2 {
  font-size: 2.5em;
  }

p {
  margin-top: 0px;
  margin-bottom: 0.5em;
  }

img {
  max-width: 650px;
  }

